<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="basedir" value="${basedir}" />
    <variable name="testfolder" value="${testfolder}" />

    <targets>
        <target name="file" xsi:type="File" fileName="${var:basedir}/${var:testfolder}/test.log" layout="${longdate}|${level:uppercase=true}|${callsite}|${callsite-linenumber}|${message}"/>
        <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${callsite}|${callsite-linenumber}|${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>